.container{
  text-align: center;
  margin: auto;
  box-sizing: content-box;
  
}
.displayText{
  height: 1em;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: yellow;
  width: 10%;
  border-radius: 10%;
  border: solid black 2px;
}
.reg{
  text-transform: uppercase;
}

.code{
  text-transform: uppercase;
}

.message{
  font-weight: bold;
}

.error{
  font-weight: bold;
}