
/* This is the CSS structure and styling for the form and input of the location and regcode */
.form-control{
  padding-top: 10px;
  padding-bottom: 10px;


}

.container{
  text-align: center;
  margin: auto;
  box-sizing: content-box;
  
}
li{
  height: 2.5em;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: yellow;
  width: auto;
  border-radius: 0.25em;
  border: solid black 2px;
  list-style-type: none;
  font-weight: bold;
  display: inline-block;
}
.reg{
  text-transform: uppercase;
}

.code{
  text-transform: uppercase;
}

.message{
  font-weight: bold;
  color: red;
}

.error{
  font-weight: bold;
  color: red;
}
.successful{
  font-weight: bold;
  color: green;
}
.successfully{
  font-weight: bold;
  color: green;
}
button{
  width: 60px;
}
#modal-btn{
  width: auto;
}

#modal-save{
  width: auto;
}
.resetInfo{
  padding-left: 50px; 
}

.towns-btn{
  margin-bottom: 10px;
  padding-top: 10px;
}
.registration-heading{
  padding-right: 190px;
}
.modal{
  padding-left: 300px;
}